.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.example {margin: 50px 0;}

/* Image Slider */
#slider-container {
    position: relative;
    width: 200px;
    height: 200px;
}

#slider img {
    position: absolute;
    border-radius: 3px;
}

#prev-slide, #next-slide {
    position: absolute;
    bottom: 10px;
    padding: 5px 10px;
    color: #000;
    background: #FFF;
    border-radius: 3px;
    text-decoration: none;
    opacity: 0.7;
}

#prev-slide:hover, #next-slide:hover {
    opacity: 1;
    cursor: pointer;
}

#prev-slide {
    left: 10px;
}

#next-slide {
    right: 10px;
}